
@{
    ViewBag.Title = "Contactos";
}


<h2 style="margin-top:10px">Listado de contactos</h2>

<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit","Contacto")')"><i class="fas fa-plus"></i> Nuevo contacto</a>
<table id="contactosTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Movil</th>
            <th></th>
        </tr>
    </thead>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css">

@section scripts{

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        var popup,datatable;
        $(document).ready(function () {
            datatable = $('#contactosTable').DataTable({
                "ajax": {
                    "url": "GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Nombre" },
                    { "data": "Email" },
                    { "data": "Telefono" },
                    { "data": "Movil" },
                    {
                        "data": "UIDContacto", "render": function (data) {
                            return "<a class='btn btn-warning btn-sm' style='margin-left:5px' onclick=PopupForm('@Url.Action("AddOrEdit","Contacto")/&#34" + data + "&#34')><i class='fa fa-pencil'></i> Editar</a><a class='btn btn-danger btn-sm' style='margin-left:5px'><i class='fa fa-trash'></i> Borrar</a>"
                        },
                        "orderable": false,
                        "searchable": false
                    }
                ],
                //"language": {
                //    "lengthMenu": "Mostrando _MENU_ registros por página",
                //    "zeroRecords": "No se encontraron registros",
                //    "info": "Mostrando página _PAGE_ de _PAGES_",
                //    "infoEmpty": "No hay registros disponibles",
                //    "infoFiltered": "(Filtrado por _MAX_ total de registros)"
                //}
            });
        });

        function PopupForm(url) {
            $.get(url)
            .done(function (response) {
                var formDiv = $('<div/>');
                formDiv.html(response);
                popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    titel: 'Rellene campos de contacto',
                    height: 300,
                    width: 280,
                    close: function () {
                        popup.dialog('destroy').remove();
                    }
                });
            });
        }

        function SubmitForm(form) {
            $ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        popup.dialog('close');
                        datatable.ajax.reload();
                    }
                }
            })
        }
    </script>


        }